{% extends user %}

{% block body %}

<div class="container-fluid">
    {% include "./message.html" %}
        <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Password reset</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="post" class="form-validate">{% csrf_token %}
              <div class="card-body">
                <div class="form-group">
                  <label for="id_old_password">Old password:</label>
                  <input type="password" class="form-control" id="id_old_password" name="old_password" autocomplete="current-password" placeholder="Old password:" autofocus required>
                </div>
                
                <div class="form-group">
                  <label for="id_new_password1">New password</label>
                  <input type="password" class="form-control" id="id_new_password1" name="new_password1" autocomplete="new-password" placeholder="New password:" required>
                </div>
                <div class="form-group">
                  <label for="id_new_password2">New password confirmation:</label>
                  <input type="password" class="form-control" id="id_new_password2" autocomplete="new-password" name="new_password2" placeholder="New password confirmation" required>
                </div>
                <span class="helptext">
                    <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>
                </span>
              </div>
              <!-- /.card-body -->
    
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              {% include "./error.html" %}
            </form>
          </div>
    </div><!-- /.container-fluid -->
    
{% endblock %}