{% extends './loginreset.html' %}

{% block title %}
<title>Reset Password</title>
{% endblock %}



{% block bodyform %}

<div class="card-body login-card-body">
	<p class="login-box-msg">Reset Password</p>
	
	<h3>Enter new password</h3>
	<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
	{% include "./message.html" %}
	<form  method="post" class="form-validate">{% csrf_token %}
	  <div class="input-group mb-3">
		<input type="password" id="id_new_password1" name="new_password1" autocomplete="new-password" required class="form-control" placeholder="Enter New password">
		<div class="input-group-append">
		  <div class="input-group-text">
			<span class="fas fa-lock"></span>
		  </div>
		</div>
	  </div>
	  <div class="input-group mb-3">
		<input type="password" id="id_new_password2" type="password" name="new_password2" autocomplete="new-password" class="form-control" placeholder="New password confirmation">
		<div class="input-group-append">
		  <div class="input-group-text">
			<span class="fas fa-lock"></span>
		  </div>
		</div>
	  </div>

	  <span class="helptext">
		<ul>
			<li>Your password can’t be too similar to your other personal information.</li>
			<li>Your password must contain at least 8 characters.</li>
			<li>Your password can’t be a commonly used password.</li>
			<li>Your password can’t be entirely numeric.</li>
		</ul>
	</span>
		<!-- /.col -->
		<div class="col-4">
		  <button type="submit" name='Update Password' class="btn btn-primary btn-block">Sign In</button>
		</div>
		{% include "./error.html" %}
		<!-- /.col -->
	  </div>
	</form>
  
  </div>

{% endblock %}
